<!DOCTYPE html>
<!-- This is a Mustache Template for json-log console utility -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result Table</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> 
    <script type="text/javascript"> 
        $(document).ready(function() {
              $("#tablebody").load('tablebody_result.html'); 
        });
    </script>
</head>
    <body>
        <table id="tablebody" border="1">
        </table>
    </body>
</html>
