        <tr>
            <td><strong>{{timestamp}}</strong></td>
            {{#fields}}
                <td>
                    {{#uuidbool}}
                        <strong>
                    {{/uuidbool}}
                            {{fields.uuid}}
                    {{#uuidbool}}
                        </strong>
                    {{/uuidbool}}
                </td>
                <td>
                    {{#levelbool}}
                        <strong>
                    {{/levelbool}}
                            {{level}}
                    {{#levelbool}}
                        </strong>
                    {{/levelbool}}
                </td>
                <td>
                    {{#status_codebool}}
                        <strong>
                    {{/status_codebool}}
                            {{status_code}}
                    {{#status_codebool}}
                        </strong>
                    {{/status_codebool}}
                </td>
                <td>{{content_type}}</td>
                <td>{{path}}</td>
                <td>
                    {{#methodbool}}
                        <strong>
                    {{/methodbool}}
                            {{method}}
                    {{#methodbool}}
                        </strong>
                    {{/methodbool}}
                </td>
                <td>{{name}}</td>
            {{/fields}}
            <td><strong>{{message}}</strong></td>
        </tr>
